/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    position:fixed;
    top:0;
    left:0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
*/

body {
    height: 100vh;
    padding: 0;
}

.graph-button-option {
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    /*Si la taille du tableau change, changer la valeur qui soustrait ici*/
    height: calc(100% - 159px);
    min-height: 450px;
}


.chart {
    overflow: auto;
    height: 100%;
}
.flex-child1 {
    flex: 1;
    position: relative;
    width: auto;
    height: 100%;
    overflow: auto;
}

.flex-child2 {
    /* Si on veut des boutons + larges ou plus d'espace pour les boutons, changer ici */
    width: 200px;
    text-align: center;
    margin-top: 10px;
}

td, .th-center {
    text-align: center;
    font-size: 18px;
}

table {
    table-layout: fixed;

}